<script>
  // Properties
  export let data = [];
  export let linetype = "all";
  export let city = 'Baltimore';

  const list1 = ["all", "perline"];
  const Name1 = ["Scale across all building types", "Scale by each building type"];
  const list2 = ["Baltimore", "Chicago", "Los Angeles"];

    </script>

<div class="row">
  <div class="col-3">
    <select bind:value={city} class="form-select">
      {#each list2 as l}
        <option value={l}>
          {l}    
        </option>          
      {/each}
    </select>  
  </div> 
  <div class="col-6">
    <select bind:value={linetype} class="form-select">
      {#each list1 as l, i}
        <option value={l}>
          {Name1[i]}    
        </option>          
      {/each}
    </select>
</div>
</div>
