<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Plot from "./design_2_plot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });
  
</script>



{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Plot data={data}/>
  </div>
{/if}


