<script>

  const width = 650;
    const height =500;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right -30;
    const innerHeight = height - margin.top - margin.bottom;
    // Dependencies
    import { select } from "d3-selection";
    import { extent } from 'd3-array';
    import { axisBottom, axisLeft } from "d3-axis";
    import { scaleLinear } from "d3-scale";
    import {tooltip} from './tooltip.js';

    // Properties
    export let data = [];
    let dict = [1, -1, 1, -1, 1];

    // Dimensions
    // Scales
    const xScale = scaleLinear().domain([0, 167]).range([0, innerWidth/2]);
    const yScale1 = scaleLinear().domain(extent(data, d => d.total_electrity)).range([0, 40]);
    const yScale2 = scaleLinear().domain(extent(data, d => d.total_gas)).range([0, 40]);
    const weeks = [48, 49, 50, 51, 52];
    // Axes
    const xAxis = (node) =>
      axisBottom(xScale).tickValues([0, 24,48,72,96,120,144,168,192,216,240,264,288,312,336,360,384,408,432,456,480,504,528,552,576,600,624,648,672,696,720,744])(
        select(node)
      );
      const yAxis = (node) => axisLeft(yScale1)(select(node));
  </script>
  
  
  <svg {width} {height}>
    <line x1={innerWidth/2 + 35} y1={120} x2={innerWidth/2 + 35} y2={500} stroke="black" stroke-width="5" transform="rotate(6)"/>
    <rect x=537 y=400 width=10 height=10 stroke="black" fill="blue" stroke-width=1></rect>
       <rect x=537 y=420 width=10 height=10 stroke="black" fill="orange" stroke-width=1></rect>
       <text x=550 y=410>Electricity</text>
       <text x=550 y=430>Gas</text>
    <g transform="translate({margin.left}, {margin.top})">
      <g fill="none" stroke="black">
      <!-- Scatterplot -->      
      {#each weeks as week, j}      
      {#each data.filter(d => d.week == week) as element, i}
      {#if [51, 49].includes(week)}
      <g transform="translate({480},{580-75*j}) rotate({-195*dict[j]}) scale({-1,1})">      
        <path stroke="blue" use:tooltip={"Electricity usage"} stroke-linecap="butt" stroke-width={yScale1(+element.total_electrity)} d="M{ 20 + innerWidth/3*(1+(element.day-7*(j-1))*24 + (element.hour-24))/168} {30+25*j} l1 0"><title>Electricity usage</title></path>
      <path stroke="orange" use:tooltip={"Gas usage"} stroke-linecap="butt" stroke-width={yScale2(+element.total_gas)} d="M{ 20 + innerWidth/3*(1+(element.day-7*(j-1))*24 + (element.hour-24))/168} {30+25*j} l1 0"><title>Gas usage</title></path>
      </g>
      {:else}
      <g transform="translate({70},{380-75*j}) rotate({-15*dict[j]}) scale({1,1})">      
        <path stroke="blue" use:tooltip={"Electricity usage"} stroke-linecap="butt" stroke-width={yScale1(+element.total_electrity)} d="M{ 20 + innerWidth/3*(1+(element.day-7*(j-1))*24 + (element.hour-24))/168} {30+25*j} l1 0"><title>Electricity usage</title></path>
      <path stroke="orange" use:tooltip={"Gas usage"} stroke-linecap="butt" stroke-width={yScale2(+element.total_gas)} d="M{ 20 + innerWidth/3*(1+(element.day-7*(j-1))*24 + (element.hour-24))/168} {30+25*j} l1 0"><title>Gas usage</title></path>
      </g>
      {/if}
      {/each}
      {/each}
      </g>
      <!-- Axes -->
      <g>
        <text
          class="axis-label"
          x={-innerHeight / 2}
          y={-margin.left + 18}
          transform="rotate(-90)"
        >
          Week
        </text>
      </g>
  
  
      <!-- Labels -->
      <text class="title" x={20 + innerWidth / 2} y={40}>Electric and gas consumption in December</text>
      <text class="title" x={20 + innerWidth / 2} y={70}>Chicago (2014)</text>

    </g>
  </svg>
  
  <style>
    .dot {
      opacity: 0.8;
    }
    .axis-label {
      font-size: 1.55em;
      text-anchor: middle;
      vertical-align: bottom;
      fill: currentcolor;
    }
    .title {
      font-size: 1.25em;
      text-anchor: middle;
    }
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
  </style>
  