<script>

  const width = 650;
    const height =400;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right -30;
    const innerHeight = height - margin.top - margin.bottom;
    // Dependencies
    import { select } from "d3-selection";
    import { extent, max, min } from 'd3-array';
    import { axisBottom, axisLeft } from "d3-axis";
    import { scaleLinear } from "d3-scale";
    import { radialArea } from "d3-shape";
    import { scaleRadial } from "d3-scale";




    // Properties
    export let data = [];
    const city = ["Baltimore", "Chicago", "Los Angeles"];
    // Dimensions
    let dom = [];
    let hdom = [];
    let cdom = [];
    const energy = ["heating", "cooling"];
    hdom = extent(data, d => d.heating);
    cdom = extent(data, d => d.cooling);
    dom[0] = min([hdom[0], cdom[0]])
    dom[1] = max([hdom[1], cdom[1]])
    // Scales
    const xScale = scaleLinear().domain(extent(data, d => d.day_of_year)).range([0, 2 * Math.PI])
    const yScale1 = scaleRadial().domain(dom).range([0, innerWidth/6])
    const yScale2 = scaleRadial().domain(dom).range([0, innerWidth/6])

    // Axes
    const xAxis = (node) =>
      axisBottom(xScale)(
        select(node)
      );
      const yAxis = (node) => axisLeft(yScale)(select(node));

    
    const radAxis1 = radialArea().angle(d => xScale(d.day_of_year)).innerRadius(0).outerRadius(d => yScale1(d.heating));
    const radAxis2 = radialArea().angle(d => xScale(d.day_of_year)).innerRadius(0).outerRadius(d => yScale2(d.cooling));
    $: tryy = [];
    $: console.log(tryy);

  </script>
  
  
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <defs>
        <marker id="arrowhead" markerWidth="4" markerHeight="2.8" 
        refX="0.5" refY="1.3" orient="auto">
          <polygon points="0 0, 3.2 1, 0 3" />
        </marker>
      </defs>
      <line x1="130" y1="90" x2="180" y2="120" stroke="black" 
      stroke-width="3" marker-end="url(#arrowhead)" />
      <text x="165" y="10" transform="rotate(30)">Month</text> 
      <text x=100 y=360>Cooling</text>
       <text x=100 y=380>Heating</text>
       <rect x=87 y=350 width=10 height=10 stroke="black" fill="blue" stroke-width=1></rect>
       <rect x=87 y=370 width=10 height=10 stroke="black" fill="red" stroke-width=1></rect>
       <g fill="none" stroke="black">
      <!-- Scatterplot -->
       {#each city as c, j}  
       <text x={70+215*j} y=70>{c}</text>
       <text class="num" x={95+215*j} y=94>0</text>
       <text class="num" x={95+215*j} y=320>6</text>
       <text class="num" x={202+215*j} y=205>3</text>
       <text class="num" x={-7+215*j} y=205>9</text>

      
       <circle cx={100+215*j} cy=200 r={innerWidth/6} fill="white" fill-opacity=1 stroke="black"/>     
          <line x1={100+215*j} y1=100 x2={100+215*j} y2=300 stroke="black" stroke-width=1/>
          <line x1={0+215*j} y1=200 x2={200+215*j} y2=200 stroke="black" stroke-width=1/>
          {#each energy as t, k}
              {#if t == "heating"}
              <g transform="translate({100+215*j}, {200})">
              <path d={radAxis1(data.filter(d => d.city == c))} fill="red" fill-opacity=0.4 stroke="red"><title>{t}</title><path/>
              {tryy.push(radAxis1(data.filter(d => d.city == c)))}
              </g>
                {:else if t == "cooling"}
                <g transform="translate({100+215*j}, {200})">
              <path d={radAxis2(data.filter(d => d.city == c))} fill="blue" fill-opacity=0.4 stroke="blue"><title>{t}</title><path/>
                </g>
                {/if}
            {/each}
        {/each}
      </g>
      <!-- Axes -->
     
    
  
      <!-- Labels -->
      <text class="title" x={20 + innerWidth / 2} y={30}>Heating and cooling within a year</text>
    </g>
  </svg>
  
  <style>
    .dot {
      opacity: 0.8;
    }
    .axis-label {
      font-size: 1.55em;
      text-anchor: middle;
      vertical-align: bottom;
      fill: currentcolor;
    }
    .title {
      font-size: 1.25em;
      text-anchor: middle;
    }
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
    .num{
      font-size: 0.6em;
    }
  </style>
  