<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Plot from "./design_1_plot.svelte";
  import Controls from "./design_1_controls.svelte";

  // Load the data
  let data = null;
  let linetype = "all";
  let city = "Baltimore";
  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
  });
  function selectdata(data, city){
      const energy = data;
      return energy.filter(d => d.city === String(city));
  } 
  
</script>



{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Plot data={selectdata(data, city)} linetype={linetype}/>
    <Controls bind:linetype={linetype} bind:city={city} {data} />
  </div>
{/if}


