<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Plot from "./design_3_plot.svelte";

  // Load the data
  let data = null;
  const city = "Chicago";
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });
  function selectdata(data, city){
      const energy = data;
      return energy.filter(d => d.city === String(city));
  } 
</script>



{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Plot data={selectdata(data, city)}/>
  </div>
{/if}


