<script>

  const width = 650;
    const height =500;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right -30;
    const innerHeight = height - margin.top - margin.bottom;
    // Dependencies
    import { select } from "d3-selection";
    import { extent } from 'd3-array';
    import { axisBottom, axisLeft } from "d3-axis";
    import { scaleLinear } from "d3-scale";
    import {tooltip} from './tooltip.js';

    // Properties
    export let data = [];
    const city = ["Baltimore", "Chicago", "Los Angeles"];
    const buildingtype = ["FullServiceRestaurant", "Hospital", "LargeHotel", "LargeOffice", "MediumOffice", "MidriseApartment", "OutPatient", "PrimarySchool", "QuickServiceRestaurant", "SecondarySchool", "SmallHotel", "SmallOffice", "Stand-aloneRetail", "StripMall", "SuperMarket", "Warehouse"];
    export let linetype = [];
    // Dimensions
    // Scales
    const xScale = scaleLinear().domain([1, 744]).range([0, innerWidth]);
    const yScale = scaleLinear().range([0, 10]);
    let dom =[];
    for (let i in buildingtype) {
    dom[i] = extent(data.filter(d => d.buildingtype === String(buildingtype[i])), d => d.total_heating_energy)
    ;
  }
    // Axes
    const xAxis = (node) =>
      axisBottom(xScale).tickValues([0, 24,48,72,96,120,144,168,192,216,240,264,288,312,336,360,384,408,432,456,480,504,528,552,576,600,624,648,672,696,720,744])(
        select(node)
      );
      const yAxis = (node) => axisLeft(yScale)(select(node));
  </script>
  
  
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <g fill="none" stroke="black">
      <!-- Scatterplot -->
      {#each data as element, i}
      {#each buildingtype as type, j}
      {#if element.buildingtype == type}
      {#if linetype == "all"}
      <path use:tooltip={type} stroke-linecap="round" stroke-width={yScale.domain(extent(data, d => d.total_heating_energy))(+element.total_heating_energy)} d="M{ 20 + innerWidth*(1+element.day*24 + (element.hour-24))/744} {30+25*j} l1 0"><title>{type}</title></path>
  
      {:else}
      <path use:tooltip={type} stroke-linecap="round" stroke-width={yScale.domain(dom[j])(+element.total_heating_energy)} d="M{ 20 + innerWidth*(1+element.day*24 + (element.hour-24))/744} {30+25*j} l1 0"><title>{type}</title></path>
      {/if}
      {/if}
      {/each}
      {/each}
      </g>
      <!-- Axes -->
      <g use:xAxis transform="translate(20, {innerHeight-20})">
        <text class="axis-label" x={innerWidth / 2} y={margin.bottom - 18}>
          Time (hours)
        </text>
      </g>
      <g>
        <text
          class="axis-label"
          x={-innerHeight / 2}
          y={-margin.left + 18}
          transform="rotate(-90)"
        >
          Building type (hoover mouse)
        </text>
      </g>
  
  
      <!-- Labels -->
      <text class="title" x={20 + innerWidth / 2} y={10}>Heating consumption in December</text>
    </g>
  </svg>
  
  <style>
    .dot {
      opacity: 0.8;
    }
    .axis-label {
      font-size: 1.55em;
      text-anchor: middle;
      vertical-align: bottom;
      fill: currentcolor;
    }
    .title {
      font-size: 1.25em;
      text-anchor: middle;
    }
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
  </style>
  