<svelte:options accessors={true} />
<script>
  import {fade} from 'svelte/transition';
  import {createPopper} from '@popperjs/core';
  export let title = '';
  export let anchorNode;
  export let show = false;
  let tooltipNode;

$: if (tooltipNode) {
  createPopper(anchorNode, tooltipNode, {
    placement: 'top'
  });
}
</script>

{#if show}
  <div transition:fade bind:this={tooltipNode}>
    {title}
  </div>
{/if}

<style>
  div {
    padding: 10px;
    border: 3px solid black;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.3);
    background-color: white;
  }
</style>