<script>
    const list = { name: 'Javier Moreno Sepena', favourite: ["football", "books", "films"]};
</script>

<p>My name is {list.name} and these are some of my favourite things: {list.favourite} .</p>
