<script>
 const rad = 5;
 
 function circumference(x){
     return 2 * Math.PI * x
 }
 const length = circumference(rad)

</script>

<p>The circumference of a circle with radius {rad.toFixed(2)}m is {length.toFixed(2)}m.</p>