<script>
  import { extent } from "d3-array";
  import { brush } from "d3-brush";
  import { select } from "d3-selection";
  import { scaleLinear } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";

  // Properties
  export let data = [];
  export let x = (d) => d.x;
  export let y = (d) => d.y;
  export let xLabel = "x";
  export let yLabel = "y";
  export let selected = [];
  export let total = [];

  // Dimensions
  const width = 400;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 35, left: 45 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scales
  const xScale = scaleLinear().domain(extent(data, x)).range([0, innerWidth]);
  const yScale = scaleLinear().domain(extent(data, y)).range([innerHeight, 0]);

  // Axes
  const xAxis = (node) => axisBottom(xScale)(select(node));
  const yAxis = (node) => axisLeft(yScale)(select(node));
  let range = null;
  let coords = [];
  // Brushing
  // The range of the selection rectangle.
  // If there is no active selection, it contains: null,
  // otherwise, it contains: [ [x0, y0], [x1, y1] ]
  function brushed(mouse) {
    if (mouse.selection) {
     range = mouse.selection;
    }
    else {range = null;}
}


 const brusher = (node) =>
  brush().on('start brush end', brushed)(select(node));
  $: {
    if(range) 
    {
      let [[x0, y0], [x1, y1]]  = range;
      x0 = x0;
      x1 = x1;
      y0 = y0;
      y1 = y1;
      
      selected = coords.map(d => (x0 <= d[0] && d[0] < x1 && y0 <= d[1] && d[1] < y1) );

    } else {
      selected = new Array(406).fill(true)
  }};
</script>


<svg viewBox="0 0 {width} {height}" class="mx-2" style="max-width: {width}px">
  <g transform="translate({margin.left},{margin.top})">
    <g use:brusher>
      {#each data as d, i}
      {coords.push([xScale(x(d)), yScale(y(d))])}
        <circle
          cx={xScale(x(d))}
          cy={yScale(y(d))}
          r={3}

          fill={total[i] == false ? "darkgray" : "steelblue"}
          fill-opacity={total[i] == false ? "0.3" : "0.5"}
          stroke-opacity={total[i] == false ? "0.5" : "1"}
          stroke={total[i] == false ? "darkgray" : "steelblue"}
          stroke-width="1.5"
        />
      {/each}
    </g>
    <g use:xAxis transform="translate(0, {innerHeight})">
      <text class="axisLabel" x={innerWidth / 2} y={margin.bottom - 5}
        >{xLabel}</text
      >
    </g>
    <g use:yAxis>
      <text
        class="axisLabel"
        y={-margin.left + 10}
        x={-innerHeight / 2}
        transform="rotate(-90)">{yLabel}</text
      >
    </g>
  </g>
</svg>

<style>
  .axisLabel {
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
</style>
