<script>
  // Properties
  export let data = [];
  export let year = 1800;
  export let continent = 'all';
  let interval = null;
  const continents = ["all","europe", "asia", "americas", "africa"];
  let t = true;
  function timer() {
    if (t == true){
    t = false;
    interval = setInterval(function(){if(year<2014){year += 1}  else{year=1800}}, 50);
    }
    else {t = true;
    clearInterval(interval)};
    };

    function reset() {t = true;
      year = 1800;
    clearInterval(interval);
    };
    </script>

<div class="row">
  <div class="col-4">
   
    <button class="btn btn-primary" on:click={timer}>
      {#if t==true}
        Start
        {:else}
        Stop
        {/if}
    </button>
    <button class="btn btn-primary" on:click={reset}>
     Reset
    </button> </div>
    <div class="col-5">Year: {year}
  <input type="range" class="form-range" min="1800" max="2014" bind:value={year} />
  </div>
  <div class="col-3">
    <select bind:value={continent} class="form-select">
      {#each continents as cont}
        <option value={cont}>
          {cont}    
        </option>          
      {/each}
    </select>


</div>
</div>
