    <script>
    $: count = 0;

	function handleClick(event) {
		count += 1;
	}

    function resetClick(event) {
		count = 0;
	}
</script>

<button class="btn btn-primary" on:click={handleClick}>
	{#if count==1}
    Clicked {count} time
    {:else}
    Clicked {count} times
    {/if}
</button>

<button class="btn btn-danger" on:click={resetClick}>
	Reset
</button>

