<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";
  import Controls from "./_ex_3_controls.svelte";

  // Load the data
  let data = null;
  let year = 1800;
  let continent = "all";
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });
  function selectdata(data, year, continent){
      const countries = data[year-1800]["countries"];
      if(continent!="all"){
      return countries.filter(d => d.continent === String(continent) && d.life_exp != null && d.income != null)}
      return countries.filter(d => d.life_exp != null && d.income != null);
  } 

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={selectdata(data, year, continent)}/>
    <Controls bind:year={year} bind:continent={continent} {data} />
  </div>
{/if}
