<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";


  
  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });
  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };
  let selected1 = [];
  let selected2 = []; 

  $: total = selected1.map((d,i) => selected2[i] && d);

</script>
{#each selected1 as i, sel1}
{#if sel1 == selected2[i]}
{total[i]} = true
{/if}
{/each}


{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter {data} {...s1} {total} bind:selected={selected1}/>
  <Scatter {data} {...s2} {total} bind:selected={selected2}/>
{/if}
