<script>
  // Dimensions
  import { axisLeft } from 'd3-axis';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  import { scaleLinear } from 'd3-scale';  
  import { scaleOrdinal } from 'd3-scale';
  import { schemeTableau10 } from 'd3-scale-chromatic';
  import { extent } from 'd3-array';
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let data = [];

const scaleX = scaleLinear().range([0, innerWidth]).domain([0, 4000]);
const scaleY = scaleLinear().range([0, innerHeight]).domain([90, 0]);
const scaleSize = scaleLinear().range([5,20]).domain([0, 350000000]);
function yAxis(handle) {axisLeft(scaleY)(select(handle))}
function xAxis(handle) {axisBottom(scaleX).tickFormat(function(d){return "$"+d})(select(handle))}

const scaleC = scaleOrdinal(schemeTableau10).domain(["africa", "americas", "asia", "europe"]);

</script>
<g use:xAxis={"svg"}></g>
<g use:yAxis={"svg"}></g>
<svg viewBox="0 0 {width+15} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    <g use:yAxis={"svg"}></g>
    <g use:xAxis={"svg"} transform="translate(0,295)"></g>
    <g font-size="2.25em" text-anchor="middle"><text x="280" y="0">Gapminder Scatterplot</text></g>
    <text style="font-size:2.25em; opacity: .4; text-anchor: middle;" x="505" y="285">1800
    </text>
    <g transform={"rotate(-90)"} font-size="18" font-family="sans-serif" text-anchor="end"><text x="-90" y="-32">Life Expectancy</text></g>
    <g font-size="18" font-family="sans-serif" text-anchor="end"><text x="350" y="330">GPD per Capita</text></g>
    {#each data as val}
    {#each val.countries as va}
        <circle class:hidden="{va.life_exp == null | va.income== null}" cx={scaleX(+va.income)} cy={scaleY(+va.life_exp)} r={scaleSize(+va.population)} style="fill: {scaleC(va.continent)}"><title>{va.country}</title></circle>
       {/each}
{:else}
<h2>Loading data...</h2>
{/each}
</g>
</svg>

<style>circle.hidden {
  opacity: 0;
}</style>
