<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const rectx = (innerWidth-40)/2;
  const recty = (innerHeight-40)/2; 
  const circlecx = 40+rectx;
  const circlecy = 40+recty;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <rect x={rectx} y={recty} width=40px height=40px />
    <circle cx={circlecx} cy={circlecy} r=20px/>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  circle{fill: skyblue;}
  rect{fill: yellow;}

</style>
