<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  import { scaleLog } from 'd3-scale';
  // Array
  const values = [2, 4, 6, 7, 9];
  const scale = scaleLog().range([1, innerWidth]);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <svg width={width}  height={height}>
      {#each values as val}
        <circle cx={scale(val)} cy={innerHeight/2} r=10 style="fill: steelblue" />
        {/each}
       </g>
</svg>