<script>

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  import { axisLeft } from 'd3-axis';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  import { scaleLinear } from 'd3-scale';  
  import { scaleBand } from 'd3-scale';  

  const scale = scaleLinear().range([innerHeight+10, 0]).domain([0, 3]);
  const xscale = scaleBand().range([0, innerWidth]).domain(["Netflix", "Amazon Prime Video", "Disney+", "Hulu", "Apple TV", "Rakuten"])
  .paddingInner(0.17)
  .paddingOuter(0.17);

  function yAxis(handle) {axisLeft(scale)(select(handle))}
  function xAxis(handle) {axisBottom(xscale)(select(handle))}


  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height+10}" style="max-width: {width}px">  
  <g transform={"rotate(-90)"} font-size="10" font-family="sans-serif" text-anchor="end"><text x="-150" y="27">Viewers (Million)</text></g>
  <g transform={`translate(${margin.left},${margin.top})`} use:yAxis={"svg"}>
    {#each data as ser, i}
        <text class="valueLabel" x={i*innerWidth/6} y="270">{ser.service}</text>
        <rect x={xscale(ser.service)} width={xscale.bandwidth()} y={scale(ser.viewers)} height={height-scale(ser.viewers)-30} fill="steelblue"></rect>
        {/each}
  </g>
  <g transform={'translate(60,280)'} use:xAxis={"svg"}></g>

</svg>  


<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
