<script>
  import EX7SP from "./_ex_7_scatterplot.svelte";
  import { onMount } from "svelte";
  const url = "/data/gapminder.json";
  const year = "1800";
  let values = [];
  onMount(async () => {
    const res = await fetch(url);
    let json = await res.json();
    if (res.ok) {
      values = json.filter((d) => d.year === year);
      return true;
    } else {
      throw new Error("Error when obtaining data");
    }
  });
</script>

<EX7SP data={values} />
